#hero{
    height: 800px;
    background-image: url("/images/places/ocean.jpg");
    background-size: 100% auto

}

#hero-content{
    width: 600px;
    background-color: rgba(51,47,47,0.8);
    box-shadow: 4px 2px 8px rgb(68,67,67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;  
    position: relative;
    top: 200px;
}

#hero-content h1{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0;
}

#hero-content p{
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 32px;
}

#hero-content a{
    text-decoration: none;
    background-color: rgb(255,251,0);
    padding: 12px 24px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero-content a:hover{
    background-color: rgb(163, 149, 21);
}

#highlight {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: rgb(59, 65, 64);
    margin: 0px;
    padding: 24px;
    background: linear-gradient(0deg, rgb(203, 218, 216), rgb(171, 226, 223));
}

#destination {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}

.destination {
    margin: 0 20px; 
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 15px;
    text-transform: uppercase;
    text-align: center;
    padding: 10px; 
}

.destination .image-container {
    display: flex;
    justify-content: center; 
}

.destination img {
    height: 200px;
    width: auto; 
    max-width: 100%; 
    object-fit: cover;
}

.destination p {
    color: rgb(124, 123, 123);
    font-size: 20px;
}

.destination strong {
    color: rgb(0, 160, 170);
}
